.demonstration {
  background-repeat:no-repeat;
  background-position: center center;
  background-size:   cover;
  min-height: 20rem;
  color: #fff;
  // background-color: rgba(0, 0, 0, 0.7);
}

.moving {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('moving.jpg');
}

.next {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('next.jpg');
}

.trump {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('trump.jpg');
}

.demonstration-bottom {
  margin-top: 10rem;
}
